.commentBox {
    padding: 20px;
    width: 400px;
    margin: 50px;
    box-sizing: border-box;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
