@import './shared.scss';

.nav-icon-container {
    max-width: 10px !important;
}

.nav-icon-container small {
    color: aquamarine !important;
    white-space: nowrap !important;
}

.navbar.nav-background {
    background-color: $color_mid_blue !important;
    // opacity: 50%;
    box-shadow: 20px;
}
